@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --font-sans: "Inter", sans-serif;
}

body {
    font-family: var(--font-sans);

}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}